<!-- Header -->
<header class="py-4 navbar navbar-expand-lg bd-navbar">
  <div class="container d-flex">
    <div class="flex-fill">
      <!-- -->
      <a href="/" class="navbar-brand mb-4 mb-lg-0 me-lg-auto text-decoration-none d-none d-lg-block">
        <span class="fs-4">Ropes & Knots</span>
      </a>

      <!-- Top -->
      <button class="navbar-toggler fs-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas">
        <i class="bi bi-list"></i>
      </button>
    </div>
    <ul class="nav">
      <li class="">
        <a class="nav-link fs-5 link-body-emphasis" href="https://github.com/niklasnson/ropemayhem.github.io" target="_blank">
          <i class="bi bi-github"></i>
        </a>
      </li>
      <li class="py-2">
        <div class="vr h-100 mx-lg-2"></div>
      </li>
      <li class="dropdown">
        <a class="nav-link dropdown-toggle fs-5 link-body-emphasis" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-circle-half"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
          <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
              <i class="bi bi-brightness-high-fill me-3"></i>Light
            </button>
            <li>
           <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
              <i class="bi bi-moon-stars me-3"></i>Dark
            </button>
            <li>
           <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
              <i class="bi bi-circle-half me-3"></i>Auto
           </button>
          </li>
        </ul>
      </li>
    </ul>

  </div>
</header>

<!-- Navbar -->
<nav class="py-3 bg-body-tertiary border-top border-bottom navbar-nav bd-navbar-nav d-none d-lg-block">
  <div class="container d-flex flex-wrap">
   <ul class="nav me-auto">
    <li class="nav-item"><a href="/" class="nav-link link-body-emphasis px-3">Home</a></li>
    {% for category in site.data.navigation %}
    {% assign items = category[1] %}

    {% if items.size > 0 %}
      <li class="nav-item link-body-emphasis dropdown">
        <a class="nav-link link-body-emphasis text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ category.first | capitalize }}
        </a>
        <ul class="dropdown-menu">
    {% else %}
      <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-3">{{ category.first | capitalize }}</a></li>
    {% endif %}
    {% for item in items %}
      <li><a class="dropdown-item" href="{{ item.link }}">{{ item.text | capitalize}}</a></li>
      {% if item.border == true %}
        <li><hr class="dropdown-divider"></li>
      {% endif %}
    {% endfor %}

    {% if items.size > 0 %}
        </ul>
      </li>
    {% endif %}
  {% endfor %}
  </ul>
  </div>
</nav>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-start" tabindex="-2" id="offcanvas" aria-labelledby="offcanvas">
  <div class="offcanvas-header border-bottom">
    <h4 class="offcanvas-title">Ropes and Knots</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <nav class="bd-links w-100">
      <ul class="bd-links-nav list-unstyled row row-cols-2">
        {% for category in site.data.navigation %}
        <li class="bd-links-group py-2 col">

        {% assign items = category[1] %}
          <strong class="bd-links-heading d-flex align-items-center fw-semibold">{{ category.first || capitalize }}</strong>


          {% if items.size > 0 %}
            <ul class="list-unstyled fw-normal pb-2 small">
          {% endif %}

          {% for item in items %}
            <li>
              <a class="bd-links-link d-inline-block rounded" href="{{ item.link }}">{{ item.text | capitalize}}</a>
            </li>
          {% endfor %}

          {% if items.size > 0 %}
            </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
